<%- include('../../includes/header') %>
<br>
<hr>
<div class="container">
    <h3 class="sign-up">Login</h3> 
    <% if(error) { %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div> 
    <% } %>
    <form action="/admin/login" method="POST">
        <div class="form-group">
            <label for="email1">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="pass">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
        </div>
        <div class="btn-wrapper">
            <button type="submit" class="btn btn-warning btn-lg">Login</button>
            <a href="/admin/forgot">Forgot your password?</a>
        </div>
    </form>
</div>
<%- include('../../includes/footer') %>