.form-group{

    label{
        font-size: 1.6rem;
    }
    input, textarea{
        font-size: 1.6rem;
        padding: 2rem 1.5rem;
    }
    select{
        font-size: 1.6rem;
        height: 4rem;
    }
}

.form__btn{
    font-size: 1.6rem;
}