
.products{
    display: grid;
    grid-template-columns: 28rem 1fr;
    grid-column-gap: 3rem;
    justify-content: center;
    width: 85%;
    margin: 3rem auto;
    &__category{
        list-style: none;
        padding-left: 0;
        border: 1px solid $color-primary;
        align-self: start;

        &>li{
            padding: 1.2rem 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &:not(:last-child){
                border-bottom: 1px dashed #c5c5c5;
            }
            i{
                font-size: 1.2rem;
                color: $color-primary;
                margin-right: 1.5rem;
                cursor: pointer;
            }
            a{
                &:link, &:visited{
                    text-decoration: none;
                    color: #611806;
                    font-size: 1.4rem;
                    text-transform: uppercase
                }
            }
        }

        li.products__catergory-title{
            background-color: $color-secondary !important;
            text-transform: uppercase;
        }

        li:hover{
            background-color: rgb(243, 243, 243);
        }



    }

    &__other{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: flex-start;
        margin-top: .8rem;
        li{
            list-style: none;
        }
    }
    a.products__other-link{
        &:link,&:visited{
            text-decoration: none;
            color: #333;
            font-size: 1.4rem;
            text-transform: none;
        }

        &:hover{
            color: $color-primary;
        }
    }

}

.product{
    

    &__display{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 25rem));
        grid-column-gap: 2.5rem;
        margin-top: 4rem;
    }
    &__category-title{
        text-transform: uppercase;
        margin-bottom: 2rem;
        padding-left: 4rem;
        border-left: 4px solid $color-secondary;
    }
    &__card{
        img{
            height: 16rem;
            width: 22rem;
            object-fit: cover;
            object-position: center;
        }
        a{
            &:visited, &:link{
                text-decoration: none;
            }
            h3{
                margin-top: 1.5rem;
                color: #333;
                &:hover{
                    color: $color-primary;
                }
            }
        }
        p{
            color: rgb(105, 105, 105)
        }
    }
}

