.support{

    &__btn-call{
        position: fixed;
        right: 1rem;
        bottom: 1rem;
        padding: .7rem 2rem;
        background-color: $color-secondary;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        color: $color-primary;
        p{
            margin-right: 12rem;
            font-weight: 700;
            margin-bottom: 0;
        }
        i{
            cursor: pointer;
        }

    }
    &__popup{
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        background-color: white;
        box-shadow: .2rem .2rem .3rem rgba($color: #000000, $alpha: .2);
        border-top: 4rem solid $color-secondary;
        border-bottom: 3.5rem solid $color-secondary;
        border-left: .7rem solid $color-secondary;
        border-right: .7rem solid $color-secondary;
        border-radius: 1rem;
        width: 33rem;
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
        display: none;
        p{
            margin-bottom: 1rem;
        } 
    }
    &__heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: -3.1rem;
        left: 2rem;
        color: white;
        p{
            margin-right: 12rem;
            font-weight: 700;
            margin-bottom: 0;
        }
        i{
            cursor: pointer;
        }
    }
    &__info{
        margin-bottom: .5rem;
        font-size: 1.4rem;
        font-weight: 600;
        color: $color-primary
    }
    &__form{
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;

        .form-group label{
            color: #666;
            font-size: 1.4rem;
        }
        input{
            padding: 1rem 1rem;
            &::placeholder{
                font-size: 1.3rem
            }
        }
        .form-group textarea{
            &::placeholder{
                font-size: 1.3rem;
                padding-top: .5rem;
            }
        }
    }

    &__btn{
        align-self: center
    }
}