<%- include('../includes/header') %>

<%- include('../includes/popup') %>

<section class="about">
    <div class="container">
        <h1 class="about__title">về công ty bestmix</h1>
        <div class="about__content">
            <p>
                Công ty cổ phần <strong>BESTMIX </strong>, tiền thân là Công ty cổ phần Siêu Cường, được thành lập theo giấy phép số: 684/GP-UP do UBND thành phố Hồ Chí Minh cấp ngày: 30/03/1999.

                Công ty chuyên sản xuất, phân phối và chuyển giao kỹ thuật ứng dụng các loại “Phụ gia - Hóa chất xây dựng” thương hiệu <strong>BESTMIX </strong>, đã được đăng ký sở hữu tại Cục sở hữu trí tuệ Việt Nam, cho thị trường nội địa cũng như xuất khẩu. Công ty luôn đáp ứng đầy đủ với hiệu quả cao nhất các nhu cầu đa dạng và khắc khe của các nhà đầu tư, tư vấn, thiết kế và nhà thầu xây dựng chuyên nghiệp tại Việt Nam.

                Hệ thống sản phẩm <strong>BESTMIX </strong> được phân loại theo công dụng và tính năng kỹ thuật trong lĩnh vực xây dựng như sau:
            </p>
            <ul class="about__list">
                <li class="about__item">
                    <a href="/product/concrete" class="about__link">
                        Phụ gia bê tông - xi măng
                    </a>
                </li>
                <li class="about__item">
                    <a href="/product/shield" class="about__link">
                        Chống thấm và trám bít
                    </a>
                </li>
                <li class="about__item">
                    <a href="/product/floor" class="about__link">
                        Nền sàn và chất phủ bề mặt
                    </a>
                </li>
                <li class="about__item">
                    <a href="/product/bond" class="about__link">
                        Vữa rót, kết nối, sửa chữa và hoàn thiện
                    </a>
                </li>
                <li class="about__item">
                    <a href="/product/other" class="about__link">
                        Sản phẩm cho các ngành khác
                    </a>
                </li>
                <p>Nhằm gìn giữ, củng cố và phát triển vững chắc niềm tin yêu của Quý Khách hàng trong cả nước đã dành cho công ty trong suốt thời gian qua, tập thể CB-CNV Công ty cổ phần <strong>BESTMIX </strong> cam kết nỗ lực không ngừng trong việc cải tiến tính năng kỹ thuật, nâng cao chất lượng và đa dạng hóa sản phẩm.</p>
                
                <img src="images/ab1.jpg" alt="cax" class="about__img">
                <p>Với phương châm <strong>“Xây dựng niềm tin” </strong> , đội ngũ hỗ trợ kỹ thuật và dịch vụ công ty đã và đang đáp ứng một cách đầy đủ, nhanh chóng và hiệu quả nhất những nhu cầu chính đáng của Quý Khách hàng gần xa.</p>
                <p>Sự tin cậy và hài lòng của Quý khách hàng khi sử dụng sản phẩm và dịch vụ của BESTMIX là niềm khích lệ lớn nhất của chúng tôi.</p>
                <h5>CÔNG TY CỔ PHẦN BESTMIX</h5>
                <h5>Tổng giảm đốc</h5>

                <h5>Nguyễn Hải Triều</h5>
            </ul>
        </div>
    </div>
</section>


<%- include('../includes/footer') %>